{% if loading %}
  <div class="small dimmed light">
    {{ 'LOADING' | translate | safe }}
  </div>
{% elif error %}
  <div class="small dimmed light">
    {{ error | safe }}
  </div>
{% else %}
  <div class="wrapper" style="grid-template-columns: repeat({{ config.gridColumns }}, 350px); grid-template-rows: repeat({{ config.gridRows}}, 300px)">
    {% if config.statsTable.show %}
      <div class="strava-box small" id="statsTable">
        <header class="moduleHeader">Statistics</header>
        <table class="small">
        <thead>
          <tr class="normal">
            <td class="title"></td>
            <td></td>
            {% if 'count' in config.statsTable.stats %}
            <td class="light symbol align-right stat"><span class="fas fa-hashtag" title="Activity count"></span></td>
            {% endif %}
            {% if 'distance' in config.statsTable.stats %}
            <td class="light symbol align-right stat"><span class="fas fa-arrows-alt-h" title="Distance"></span></td>
            {% endif %}
            {% if 'elevation' in config.statsTable.stats %}
            <td class="light symbol align-right stat"><span class="fa fa-line-chart" title="Elevation"></span></td>
            {% endif %}
            {% if 'moving_time' in config.statsTable.stats %}
            <td class="light symbol align-right stat"><span class="fas fa-stopwatch" title="Moving time"></span></td>
            {% endif %}
            {% if 'elapsed_time' in config.statsTable.stats %}
            <td class="light symbol align-right stat"><span class="fas fa-clock" title="Elapsed time"></span></td>
            {% endif %}
            {% if 'pace' in config.statsTable.stats %}
            <td class="light symbol align-right stat"><span class="fas fa-tachometer-alt" title="Pace"></span></td>
            {% endif %}
            {% if ('achievements' in config.statsTable.stats) and (config.period === "recent") %}
            <td class="light symbol align-right stat"><span class="fas fa-trophy" title="Achievements"></span></td>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for activity in config.statsTable.activities %}
          {% set activity_stats = stats[config.period + "_" + activity | lower + "_totals"] %}
            <tr class="normal">
              <td class="title light">{{activity | upper | translate }}</td>
              <td class="bright symbol">
                  <div class="strava-icon icon-{{activity | lower }} icon-table"></div>
              </td>
              {% if 'count' in config.statsTable.stats %}
              <td class="bright align-right stat">{{activity_stats.count}}</td>
              {% endif %}
              {% if 'distance' in config.statsTable.stats %}
              <td class="bright align-right stat">{{activity_stats.distance | formatDistance(1, false) }}</td>
              {% endif %}
              {% if 'elevation' in config.statsTable.stats %}
              <td class="bright align-right stat">{{activity_stats.elevation_gain | formatElevation(1, false) }}</td>
              {% endif %}
              {% if 'moving_time' in config.statsTable.stats %}
              <td class="bright align-right stat">{{activity_stats.moving_time | formatTime }}</td>
              {% endif %}
              {% if 'elapsed_time' in config.statsTable.stats %}
              <td class="bright align-right stat">{{activity_stats.elapsed_time | formatTime }}</td>
              {% endif %}
              {% if 'pace' in config.statsTable.stats %}
              <td class="bright align-right stat">{{activity_stats.pace}}</td>
              {% endif %}
              {% if ('achievements' in config.statsTable.stats) and (config.period === "recent") %}
              <td class="bright align-right stat">{{activity_stats.achievement_count}}</td>
              {% endif %}
            </tr>
        {% endfor %}
        </tbody>
      {% if config.statsTable.auto_rotate %}
          <tfoot>
            <!-- period label -->
            <tr class="xsmall">
              <td class="align-right" colSpan="100%">
                  {{config.period | upper | translate }}
              </td>
            </tr>
          </tfoot>
      {% endif %}
        </table>
      </div>
    {% endif %}

    {% if config.progressBar.show %}
      {% set pbAct = config.shownPB %}
      <div class="strava-box small" id="progressBar">
        <header class="moduleHeader">Yearly Progress</header>
        <svg class="progressSVG" xmlns="http://www.w3.org/2000/svg" height="300" width="300" viewBox="0 0 300 300" data-value="50">
          <g class="strava-icon icon-run">
            <path class="bg" stroke="#666" d="M90 249.5 a 100 100 0 1 1 117.93 0"  fill="none"/>
            <path class="meter" stroke="#09c" d="M90 249.5 a 100 100 0 1 1 117.93 0" fill="none" stroke-dasharray="510" stroke-dashoffset="{{progressBar[pbAct].offset}}"/>
            <path class="threshold" stroke="#fff" d="M90 249.5 a 100 100 0 1 1 117.93 0"  fill="none" stroke-dasharray="3 600" stroke-dashoffset="{{progressBar[pbAct].threshold}}"/>
          </g>
        </svg>
        <div class="pbdata">
          <div class="strava-icon icon-pb icon-{{pbAct}}"></div>
          <span class="pb-dist">{{progressBar[pbAct].distance | formatDistance(0, true)}}</span></br>
          <span class="pb-dev" style="color:{{progressBar[pbAct].color}}">{{progressBar[pbAct].deviation | formatDistance(0, true)}} km</span>
        </div>
      </div>
    {% endif %}

    {% if config.crowns.show %}
      <div class="strava-box small" id="crowns">
        <header class="moduleHeader">Crowns</header>
        <div class="small runCrowns">
          <table class="crownTable">
            <tr>
              <td class="crownHeader" rowspan="2"><div class="strava-icon icon-run"> </div></td>
              <td class="crownData"><span class="fas fa-crown gold"></span></td>
              <td class="crownData"><span class="fas fa-trophy silver"></span></td>
              <td class="crownData"><span class="fas fa-trophy bronze"></span></td>
              <td class="crownData"><span class="xsmall">4-10</span></td>
            </tr>
            <tr>
              <td class="crownData">{{rankings.Run[0]}}</td>
              <td class="crownData">{{rankings.Run[1]}}</td>
              <td class="crownData">{{rankings.Run[2]}}</td>
              <td class="crownData">{{rankings.Run[3]}}</td>
            </tr>
          </table>
        </div>
        <div class="small rideCrowns">
          <table class="crownTable">
            <tr>
              <td class="crownHeader" rowspan="2"><div class="strava-icon icon-ride"> </div></td>
              <td class="crownData"><span class="fas fa-crown gold"></span></td>
              <td class="crownData"><span class="fas fa-trophy silver"></span></td>
              <td class="crownData"><span class="fas fa-trophy bronze"></span></td>
              <td class="crownData"><span class="xsmall">4-10</span></td>
            </tr>
            <tr>
              <td class="crownData">{{rankings.Ride[0]}}</td>
              <td class="crownData">{{rankings.Ride[1]}}</td>
              <td class="crownData">{{rankings.Ride[2]}}</td>
              <td class="crownData">{{rankings.Ride[3]}}</td>
            </tr>
          </table>
        </div>
      </div>
    {% endif %}

    {% if config.records.show %}
      <div class="strava-box small" id="records">
        <header class="moduleHeader">Best Efforts</header>
        <table>
          {% for name, dist in config.records.distances %}
          <tr>
            <td class="recordHeader">{{ name }}</td>
            <td class="recordContent">
              <div class="small"><span class= "medal fas fa-medal gold"></span><span class="recordDate xsmall">{{records.Run[dist][0].date}}</span><div class="record">{{records.Run[dist][0].time | formatTime }}</div></div>
              <div class="xsmall"><span class= "medal fas fa-medal silver"></span><span class="recordDate">{{records.Run[dist][1].date}}</span><div class="record dimmed">{{records.Run[dist][1].time | formatTime }}</div></div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    {% if config.yearlies.show %}
      <div class="strava-box toggler chartWrapper intervalBox" id="yearlies">
        <header class="moduleHeader">Yearlies</header>
        <div>
          <div class="icon-box strava-icon icon-{{config.yearlies.activities[toggler % config.yearlies.activities.length] | lower}}"></div>
          <canvas id="yearChart">
          </canvas>
        </div>
      </div>
    {% endif %}

    {% if config.interval.show %}
      <div class="strava-box chartWrapper intervalBox" id="interval">
        <header class="moduleHeader">Interval distances: {{ config.interval.name }}ly</header>
        <div>
          <div class="icon-box strava-icon icon-{{config.interval.activities[toggler % config.interval.activities.length] | lower}}"></div>
          <canvas id="intervalChart">
          </canvas>
        </div>
      </div>
    {% endif %}

    {% if config.relativeEffort.show %}
      <div class="strava-box chartWrapper" id="relativeEffort">
        <header class="moduleHeader">Weekly Effort</header>
        <canvas id="weeklyChart">
        </canvas>
      </div>
    {% endif %}

    {% if config.recent.show %}
      <div class="strava-box Wrapper" id="recent">
        <header class="moduleHeader">Recent Activities</header>
        <div class="recent-wrapper small">

        {% for i in range(0, 2) -%}
          <div class="recent-content">
            <table>
              <tr>
                <th rowspan="3">
                  <div class="recent-icon-box strava-icon icon-{{config.recent.activities[toggler % config.recent.activities.length] | lower}} xsmall normal"></div>
                  <div class="recentDate xsmall">{{ recent.recentAct[i].date }}</div>
                </th>
                <th class="recentName bright" colspan="2">{{ recent.recentAct[i].name }}</th>
              </tr>
              <tr>
                <td class="recentTime"><span class="xsmall fas fa-clock"></span>{{ recent.recentAct[i].movingTime | formatTime }} </td>
                <td class="recentDistance bright">
                  <span class="xsmall fas fa-arrows-alt-h" title="Distance"></span>
                  {{ recent.recentAct[i].distance | formatDistance (2, true) }}
                  <span class="arrow-{{ recent.recentAct[i].distanceTrend }} fas fa-arrow-{{ recent.recentAct[i].distanceTrend }} xsmall normal">
                  {{ recent.compareStats.medDistance | formatDistance(1, false) }}</span>
                </td>
              </tr>
              <tr>
                <td class="recentPace">
                  <span class="xsmall fas fa-tachometer-alt" title="Pace"></span>
                  {{ recent.recentAct[i].pace }}
                  <span class="arrow-{{ recent.recentAct[i].paceTrend }} fas fa-arrow-{{ recent.recentAct[i].paceTrend }} xsmall"></span>
                  <span class="xsmall normal">{{ recent.compareStats.pace }}
                </td>
                <td class="recentElevation">
                  <span class="xsmall fas fa-mountain"></span>
                  {{ recent.recentAct[i].elevation }}
                  <span class="xsmall normal"><i class="arrow-{{ recent.recentAct[i].elevationTrend }} fas fa-arrow-{{ recent.recentAct[i].elevationTrend }} xsmall"></i>
                  {{ recent.compareStats.elevation }}</span>
                </td>
              </tr>
            </table>
          </div>
        {%- endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
